@TOOLBAR_INSTALL_DIR@/scripts/visualize_dagmc.py => scripts/visualize_dagmc.py
@TOOLBAR_INSTALL_DIR@/scripts/utils.py => scripts/utils.py
@TOOLBAR_INSTALL_DIR@/scripts/new_dagmc_names.py => scripts/new_dagmc_names.py
@TOOLBAR_INSTALL_DIR@/scripts/groups_to_block_mats.py => scripts/groups_to_block_mats.py
@TOOLBAR_INSTALL_DIR@/scripts/approximation_report.py => scripts/approximation_report.py
@TOOLBAR_INSTALL_DIR@/scripts/about_DAGMC.py => scripts/about_DAGMC.py
@TOOLBAR_INSTALL_DIR@/scripts/__init__.py => scripts/__init__.py
@TOOLBAR_INSTALL_DIR@/icons/svalinn.png => icons/svalinn.png
@TOOLBAR_INSTALL_DIR@/icons/report.png => icons/report.png
@TOOLBAR_INSTALL_DIR@/icons/lost_particles.png => icons/lost_particles.png
@TOOLBAR_INSTALL_DIR@/icons/group_update.png => icons/group_update.png
@TOOLBAR_INSTALL_DIR@/icons/block_update.png => icons/block_update.png
@TOOLBAR_INSTALL_DIR@/toolbars/dagmc_toolbar.ttb => toolbars/dagmc_toolbar.ttb
